---
import WspIcon from '../icons/WspIcon.astro';
import TgIcon from "../icons/TgIcon.astro";
import DiscordIcon from '../icons/DiscordIcon.astro';

---

<section class="flex flex-row w-screen h-screen items-center justify-center bg-black gap-4 transition duration-200">

  <a 
    href="/whatsApp"
    class="p-1 cursor-pointer hover:scale-125 
  transition duration-200 ease-in-out rounded-lg flex flex-col items-center justify-center"
  >
    <WspIcon class='size-12' />
  </a>

  <a 
    href="/telegram"
    class="p-1 cursor-pointer hover:scale-125 
  transition duration-200 ease-in-out rounded-lg flex flex-col items-center justify-center"
  >
    <TgIcon class='size-12' />
  </a>

  <a href="/discord"
    class="p-1 cursor-pointer hover:scale-125 
  transition duration-200 ease-in-out rounded-lg flex flex-col items-center justify-center"
  >
    <DiscordIcon class='size-12' />
  </a>
  
</section>
