---

---

<section class="flex flex-row w-screen h-screen items-center justify-center bg-purple-950 gap-2">

  <a 
    href="/whatsApp"
    class="size-36 bg-blue-300 p-1 cursor-pointer hover:scale-105 
  transition duration-200 rounded-lg flex flex-col items-center justify-center"
  >
    <p class="font-bold text-xl">WhatsApp</p>
    <p>Click to open</p>
  </a>

  <a 
    href="/telegram"
    class="size-36 bg-blue-300 p-1 cursor-pointer hover:scale-105 
  transition duration-200 rounded-lg flex flex-col items-center justify-center"
  >
    <p class="font-bold text-xl">Telegram</p>
    <p>Click to open</p>
  </a>
  
</section>
